<Router AppAssembly="@typeof(App).Assembly">

    <Found Context="routeData">

        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />

        <FocusOnNavigate RouteData="@routeData" Selector="h1" />

    </Found>

    <NotFound>

        <PageTitle>Void Found</PageTitle>

        <LayoutView Layout="@typeof(MainLayout)">

            <p role="alert">You've found the space between places!</p>

        </LayoutView>

    </NotFound>

</Router>